In [36]:
import pandas as pd

In [37]:
std_pf = pd.read_csv('StudentsPerformance.csv')

In [38]:
std_pf.head(15)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58

In [39]:
#information on the table
std_pf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 43.0+ KB

In [40]:
#checking for missing values 
std_pf.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [41]:
std_pf['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [42]:
std_pf['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [43]:
std_pf['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [44]:
std_pf['lunch'].value_counts()

standard        645
free/reduced    355
Name: lunch, dtype: int64

In [45]:
std_pf['test preparation course'].value_counts()

none         642
completed    358
Name: test preparation course, dtype: int64

In [46]:
std_pf['math score'].value_counts()

65    36
62    35
69    32
59    32
61    27
      ..
24     1
26     1
28     1
33     1
0      1
Name: math score, Length: 81, dtype: int64

In [47]:
std_pf['reading score'].value_counts()

72    34
74    33
64    32
67    30
73    30
      ..
26     1
32     1
40     1
23     1
17     1
Name: reading score, Length: 72, dtype: int64

In [48]:
std_pf['writing score'].value_counts()

74    35
70    33
68    31
73    28
80    27
      ..
23     1
28     1
35     1
15     1
10     1
Name: writing score, Length: 77, dtype: int64

In [27]:
g_counts=std_pf['gender'].value_counts()

In [28]:
g_counts

female    518
male      482
Name: gender, dtype: int64

In [32]:
std_pf.columns = ['gender','race','parent_education','lunch','test_prep','math','reading','writing']

In [33]:
std_pf.head(1)

,gender,race,parent_education,lunch,test_prep,math,reading,writing
0,female,group B,bachelor's degree,standard,none,72,72,74

In [49]:
std_pf.to_csv('student.csv')